Package: ocfspy
Version: 1.1~ocf1
License: unknown
Vendor: kuoh@fire
Architecture: all 
Maintainer: <kuoh@fire>
Installed-Size: 8
Depends: 
Section: default
Priority: extra
Homepage: http://example.com/no-uri-given
Description: fixed dependency bug 
